@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2022-03-25 15:36:38
 * @version $Id$
 */

.g-index {
	width: 1000px;
	margin: 40px auto;
}

/*根据图片的高度修改hd的height*/
.m-hd:after {
	content: '';
	clear: both;
	display: block;
}

.m-hd>div {
	width: 50%;
	float: left;
	box-sizing: border-box;
}

.m-hd>.m-lt {
	text-align: right;
}

.m-hd>.m-lt>img {
	width: 400px;
	height: 300px;
}

.m-hd>.m-rt {
	padding-left: 30px;
	padding-top: 20px;
}

.m-rt>.m-top{
	position: relative;
	padding-bottom: 20px;
	font-size: 25px;
}

/*添加蓝色的横线*/
.m-rt>.m-top:before {
	content: '';
	width: 50px;
	height: 2px;
	background: #006699;
	display: block;
	position: absolute;
	bottom: 0;
}

.m-rt>.m-body {
	margin: 40px 80px 50px 0;
	font-size: 17px;
}

.m-rt>.m-bottom {
	position: relative;
	/*父元素要添加relative使>可设置位置*/
}

.m-rt>.m-bottom>input {
	width: 170px;
	height: 40px;
	background: #006699;
	border-radius: 5px;
	color: white;
	border: none;
	text-align: left;
	padding-left: 15px;
}

.m-rt>.m-bottom>span {
	position: absolute;
	top: 8px;
	left: 145px;
	color: white;
}

.m-bd {
	margin: 50px 70px 0 100px;
}


.m-bd:after {
	content: '';
	clear: both;
	display: block;
}

.m-bd>.m-top {
	position: relative;
	padding-bottom: 25px;
	border-bottom:2px solid #b2b8bc; 
	margin-bottom: 5px;
}

.m-bd>.m-top>span:nth-child(1) {
	font-size: 25px;
	color: #006699;
	font-weight: bold;
	padding-right: 45px;
}

.m-bd>.m-top>span:nth-child(2) {
	font-size: 20px;
}

.m-bd>.m-top:before {
	content: '';
	width: 3px;
	height: 20px;
	background: #006699;
	left: 80px;
	top: 8px;
	position: absolute;
}
.m-bd>.m-top>div {
	float: right;
	position: relative;
}

.m-bd>.m-top>.m-but>input {
    width: 150px;
	height: 40px;
	background: #006699;
	border-radius: 5px;
	color: white;
	border: none;
	text-align: center;
}

.m-bd>.m-top>.m-but>span {
	position: absolute;
	top: 8px;
	right: 20px;
	color: white;
}

.m-l {
	height: 25px;
	padding: 25px 0 25px 0;
	border-bottom:2px solid #efefef; 
}

.m-l>span:nth-child(1) {
	color: #717171;
	font-size: 15px;
}

.m-l>span:nth-child(2) {
	position: absolute;
	margin: 0 20px 0 40px;
	width: 110px;
	height: 25px;
	color: white;
	font-size: 14px;
	border-radius: 10px;
    text-align: center;
    line-height: 25px;
}

.m-spe {
	background: #019ee3;
}

.m-spe1 {
	background:#5aae73;
}

.m-l>a {
	margin-left: 170px;
	font-size: 15px;
	color: #000;
}

.m-ft {
	height: 350px;
	background: #f7f7f7;
	padding-left: 50px; 
	margin-top: 10px;
	box-sizing: content-box;
}

li {
	list-style: none;
}

.m-ft>.m-lt {
	float: left;
	width: 50%;
}

.m-ft>.m-rt {
	float: right;
	width: 50%;
}

h1 {
	color: #006699;
	border-left: 5px solid #006699;
	padding-left: 10px;
	font-size: 25px;
}

.m-b1,.m-b2 {
	width: 420px;
	height: 220px;
	border: 2px solid #e1e1e1;
	text-align: center;
	padding-top: 20px; 
	background: #fff;
}

.m-b1>li:nth-child(1) {
	font-size: 20px;
}

.m-b1>li:nth-child(2) {
	color: #006699;
	font-size: 30px;
	font-weight: bold;
	padding: 15px 0 15px 0;
}

.m-b1>li:nth-child(5) {
	color: #006699;
	font-weight: bold;
	margin-top: 30px;
	position: relative;
}

.m-b1>li:nth-child(5):before {
	content: '';
	width: 340px;
	height: 2px;
	background: #e1e1e1;
	position: absolute;
	left:30px;
	top: -15px;
}

.m-b2>.m-but>input {
    width: 330px;
	height: 50px;
	background: #006699;
	border-radius: 5px;
	color: #fff;
	border: none;
	text-align: left;
	padding-left: 90px;
}

.m-b2>.m-but>span:nth-child(3) {
	position: absolute;
	right: 60px;
	top: 14px;
	color: #fff;
}

.m-b2>.m-but>span:nth-child(2) {
	position: absolute;
	left: 170px;
	top: 14px;
	color: #fff;
}

.m-b2>div {
	margin-top: 25px;
	position: relative;
}

.m-b2>li:nth-child(2) {
	margin-top: 15px;
}

.m-b2>li {
	margin-bottom: 5px; 
}
