@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2022-04-22 14:46:15
 * @version $Id$
 */

body {
	margin: 20px;
}

li {
	list-style: none;
}

.m-sear {
	background: #06c1ae;
	padding: 10px 0 10px 0;
	border-bottom: 2px solid #05a494;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.m-sear>div>li {
	color: #fff;
	display: inline;
	font-size: 15px;
}

.m-sear>div:nth-child(1)>li {
	font-size: 20px;
}

.m-sear>div:nth-child(1)>li>span::after {
  content: ">";
  position: absolute;
  color: #fff;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
   left: 45px;
   top: 2px;       
}

.m-sear>div:nth-child(2) {
	width: 700px;
	background: #05a494;
	padding: 5px;
}

.m-sear>div:nth-child(3)>li {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.m-sear>div:nth-child(3)>li>span {
	padding-top: 2px;
}

.m-menu {
	padding: 10px 0 10px 0;
}

.m-menu>div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.m-menu>div>li {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #ff8822;
}

.m-menu>div>span {
	color: #aeaeae;
	padding-top: 5px;
}

.m-menu:nth-child(2)>div:nth-child(2)>li {
	background: #ea6644;
}

.m-menu:nth-child(2)>div:nth-child(3)>li {
	background: #7788f2;
}

.m-menu:nth-child(3)>div:nth-child(1)>li {
	background: #66ccee;
}

.m-menu:nth-child(3)>div:nth-child(2)>li {
	background: #f7ba5b;
}

.m-menu:nth-child(3)>div:nth-child(3)>li {
	background: #66ccee;
}

.bot>div {
	background: #f0efed;
	height: 20px;
	border-top: 1px solid #ddd8ce;
	border-bottom: 1px solid #ddd8ce;
}

.m-top {
	margin-top: 5px;
}

.m-top>div {
	padding: 10px 30px 15px 30px;
}

.m-top>div:nth-child(1) {
	border-right: 1px solid #ddd8ce;
}

.m-top>div:nth-child(1)>li:nth-child(1) {
	color: #55a40f;
	font-weight: bold;
}

.m-top>div>li:nth-child(2) {
	color: #aeaeae;
}

.m-top>div:nth-child(1)>li:nth-child(3) {
	width: 120px;
	height: 120px;
	background: #666666;
	margin-top: 5px;
	border: 1px solid #c0c0c0;
}

.m-top>div:nth-child(2) {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #ddd8ce;
}

.m-top>div:nth-child(2)>li:nth-child(1)>span:nth-child(1) {
	font-weight: bold;
	color: #ea6644;
	display: block;
	margin-bottom: 10px;
}

.m-top>div:nth-child(2)>li:nth-child(1)>span:nth-child(2) {
	color: #aeaeae;
}

.m-top>div:nth-child(2)>li:nth-child(2) {
	height: 73px;
	width: 73px;
	background: #666666;
	border: 1px solid #c0c0c0;
}

.m-top>div:nth-child(3) {
   	border-right: 1px solid #ddd8ce;	
}

.m-top>div:nth-child(3)>li:nth-child(1) {
	color: #f742a0;
	font-weight: bold;
}

.bd>.m-top>div:nth-child(3)>li:nth-child(2) {
	background: #666666;
	height: 45px;
	width: 45px;
	margin-left: 30px;
	border: 1px solid #c0c0c0;
}

.m-top>div:nth-child(4)>li:nth-child(1) {
	color: #f7ba5b;
	font-weight: bold;
}

.m-top>div:nth-child(4)>li:nth-child(3) {
	margin-top: 5px;
}

.m-top>div:nth-child(4)>li:nth-child(3)>span:nth-child(1) {
	background: #4c4c4c;
	padding: 2px;
	border-radius: 3px;
	color: #fff;
}

.m-time>span:nth-child(3),.m-time>span:nth-child(5) {
	background: #4c4c4c;
	padding: 2px;
	border-radius: 3px;
	color: #fff;
}

.bot1>div {
	background: #f0efed;
	height: 20px;
	border-top: 1px solid #ddd8ce;
	border-bottom: 1px solid #ddd8ce;
	margin-top: 5px; 
}

.m-bot>div {
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.m-bot>div:nth-child(1) {
	border-right: 1px solid #ddd8ce;	
}

.m-bot>div>li:nth-child(1)>span:nth-child(1) {
	font-weight: bold;
	color: #ea6644;
	display: block;
	font-size: 20px;
}

.m-bot>div>li:nth-child(1)>span:nth-child(2) {
	color: #aeaeae;
}

.m-bot>div>li:nth-child(2) {
	height: 90px;
	width: 90px;
	background: #666666;
	border: 1px solid #c0c0c0;
}

.m-bot>div:nth-child(2)>li:nth-child(1)>span:nth-child(1) {
	color: #f7ba5b;;
}

.m-tit>div {
	padding: 10px;
	font-weight: bold;
	font-size: 18px;
	border-bottom: 1px solid #ddd8ce;		
}

.m-inf>div {
	padding: 10px;
}

.m-inf>div:nth-child(1)>span {
	width: 130px;
	height: 100px;
	background: #666666;
	display: inline-block;
}

.tpz1 {
	position: absolute;
	top: 21px;
	left: -9px;
	width: 80px;
	height: 0;
	border-top: 20px solid #06c1ae;;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	transform: rotate(135deg);
}

.tpz1>span {
	position: absolute;
	top: -20px;
	color: #fff;
	transform: rotate(180deg);
	font-size: 12px;
}

.m-inf>div:nth-child(2)>li:nth-child(1) {
	font-weight: bold;
	font-size: 18px;
	color: #4d4d4d;
}

.m-inf>div:nth-child(2)>li:nth-child(2) {
	color: #aeaeae;
	margin-top: 5px;
}

.m-inf>div:nth-child(2)>li:nth-child(3) {
	position: absolute;
	top: 85px;
}
.m-inf>div:nth-child(2)>li:nth-child(3)>span:nth-child(1) {
	font-size: 20px;
	font-weight: bold;
	color: #06c1ae;
}

.m-inf>div:nth-child(2)>li:nth-child(3)>span:nth-child(2) {
	color: #06c1ae;
	margin-left: -3px;
}

.bor1 {
	border: 1px solid #ff9900;
	border-radius: 5px; 
	color: #ff9900;
	padding: 3px;
	margin-left: 3px;
}

.m-inf>div:nth-child(3)>li {
	position: absolute;
	right: 10px;
	top: 90px;
}

.m-inf {
	border-bottom: 1px solid #ddd8ce;
}

.m-but>div {
	background: #a0c5e8;
}

.m-but>div>li {
	padding: 10px;
	font-size: 18px;
	font-weight: bold;
	color: #06c1ae;
}

.m-but>div:after {
  	content: ">";
  	position: absolute;
	color: #06c1ae;
	font-weight: bold;
	right: 10px;
	bottom: 13px;
}

.g-index2 {
	padding: 40px;
}

.g-index2>.hd {
	background: #018ceb;
	padding: 10px 10px 20px 10px;
}

.m-list {
	color: #fff;
	display: flex;
	align-items: center;
}

.m-list>span {
	margin: 25px 30px 0 30px;
}

.m-list>span:nth-child(1) {
	margin-left: 10px;
	padding: 5px 10px 5px 10px;
	background: #0169b0;
	border-radius: 5px;
}

.m-list>span:nth-child(3) {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 5px solid #018ceb;
	border-top: 5px solid #fff;
	border-right: 5px solid #018ceb;
	border-bottom: 5px solid #018ceb;
	left: 140px;
	top: 10px;
}

.m-log>li:nth-child(1) {
	color: #fff;
	display: flex;
	justify-content: flex-end;
	font-size: 10px;
	margin-bottom: 10px;
}

.m-log>li:nth-child(1)>span:nth-child(1) {
	padding-right: 5px;
}

.m-log>li:nth-child(1)>span:nth-child(2) {
	border-left: 1px solid #fff; 
	padding-left: 5px;
}

.m-log>li:nth-child(2) {
	background: #fff;
	padding: 3px;
}

.m-log>li:nth-child(2) {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.m-log>li:nth-child(2)>i {
	color: #afafaf;
}

.m-log>li:nth-child(2)>span:nth-child(2) {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 5px solid #fff;
	border-top: 5px solid #afafaf;
	border-right: 5px solid #fff;
	border-bottom: 5px solid #fff;
	left: 50px;
	top: 37px;
}

.m-new {
	margin-top: 20px;
}

.m-new>div:nth-child(1) {
	padding-left: 0;
}

.m-new>div:nth-child(1)>li {
	background: #666666;
	height: 220px;
	width: 560px;
}

.m-new>div:nth-child(2) {
	background: #f4f4f4;
	height: 220px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.m-new>div:nth-child(2)>li:nth-child(1) {
	margin-top: 30px;
}

.m-new>div:nth-child(2)>li:nth-child(2) {
	background: #018ceb;
	border-radius: 5px;
	width: 140px;
	height: 30px;
	margin-top: 20px;
}

.m-new>div:nth-child(2)>li:nth-child(3) {
	width: 210px;
	height: 30px;
	border-bottom: 1px dashed #666666;
	margin-bottom: 30px;
}

.m-new>div:nth-child(2)>.l>span:nth-child(1),.bd>.m-new>div:nth-child(2)>.l>span:nth-child(3) {
	color: #018ceb;
}

.m-new>div:nth-child(2)>.l>span:nth-child(2),.bd>.m-new>div:nth-child(2)>.l>span:nth-child(4) {
	color: #999999;
}

.m-new>div:nth-child(2)>.l>span:nth-child(2) {
	padding-right: 30px;
}

.det>.m-tle {
	margin: 10px 0 10px -30px;
}

.det>.m-tle>.col-md-3 {
	padding-left: 14px;
	display: flex;
	justify-content: space-between;
}

.det>.m-tle>.col-md-3:after {
  	content: ">";
  	position: absolute;
	color: #666666;
   	right: 0;
   	top: 0; 
}

.lf>.row>div {
	border: 1px solid #f4f4f4;
	padding-top: 15px;
	padding-bottom: 10px;
}

.lf>.l1>div:nth-child(1)>li:nth-child(3)>span:nth-child(1) {
	border-right: 1px solid #999999;
	padding-right: 10px;
}

.lf>.l1>div:nth-child(1)>li:nth-child(3)>span:nth-child(2) {
	padding-left: 10px;
}

.lf>.l1>div:nth-child(1)>p {
	word-wrap: break-word;
	word-break: break-all;
	text-indent: 1.5em;
	margin-top: 10px;
}

.lf>.l1>div:nth-child(2)>li:nth-child(1) {
	height: 80px;
	width: 160px;
	background: #666666;
}

.data {
	padding-top: 10px;
	color: #999999; 
} 

.data>span:nth-child(1) {
	border-right: 1px solid #999999;
	padding-right: 10px;
}

.data>span:nth-child(2) {
	padding-left: 10px;
}

.lf>.l2>div>li:nth-child(1) {
	height: 80px;
	width: 160px;
	background: #666666;
}

.lf>.l2>div>li:nth-child(2) {
	margin-top: 5px;
	margin-bottom: 2px;
}

.lf>.l2>div>li:nth-child(2)>span {
	color: #fff;
	background: #fa7242;
	padding: 2px;
	border-radius: 3px;
	border: 1px solid #eb4c09; 
}

.lf>.l3>div>li:nth-child(1) {
	width: 245px;
	height: 120px;
	background: #666666;
}

.lf>.l4>div>li:nth-child(1) {
	height: 80px;
	width: 160px;
	background: #666666;
	padding: 3px;
	display: flex;
	align-items: flex-end;
}

.lf>.l4>div>li:nth-child(1)>span:nth-child(1) {
	display: inline-block;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #353535;
	border: 1px solid #9a9a9a;
}

.lf>.l4>div>li:nth-child(1)>span:nth-child(2) {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 5px solid #fff;
	border-top: 5px solid #353535;
	border-right: 5px solid #353535;
	border-bottom: 5px solid #353535;
	left: 29px;
	top: 75px;
}
.lf>.l5>div:nth-child(1) {
	border-right: 1px solid #fff;
}

.lf>.l5>div:nth-child(2) {
	border-left: 1px solid #fff;
}

.lf>.l5>div:nth-child(1)>li:nth-child(1) {
	height: 80px;
	width: 160px;
	background: #666666;
	margin-bottom: 50px;
}

.lf>.l5>div:nth-child(2)>p {
	word-wrap: break-word;
	word-break: break-all;
	text-indent: 1.5em;
	margin-top: 10px;
	color: #666674;
}

.lf>.l5>div:nth-child(2)>.data {
	float: right;
}

.lf>.l6>div>p {
	word-wrap: break-word;
	word-break: break-all;
	text-indent: 1.5em;
	margin-top: 10px;
	color: #666674;
}

.lf>.l6>div>.data {
	float: right;
}

.rg>.l>div {
	border: 1px solid #f4f4f4;
	border-bottom: 3px solid #018ceb;
	padding-top: 15px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.rg>.l>div:nth-child(1)>li:nth-child(1) {
	height: 80px;
	width: 250px;
	background: #666666;
	border: 1px solid #9a9a9a;
}

.rg>.l>div:nth-child(1)>li:nth-child(2) {
	font-weight: bold;
}

.rg>.l>div:nth-child(1)>li:nth-child(3),.bd>.det>.mid>div:nth-child(3)>li:nth-child(4) {
	color: #999999; 
}

.rg>.l>div:nth-child(1)>li:nth-child(3) {
	padding-bottom: 5px;
}

.tpz2 {
	position: absolute;
	top: 15px;
	right: -25px;
	width: 100px;
	height: 0;
	border-top: 25px solid #018ceb;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	transform: rotate(225deg);
}

.tpz2>span {
	position: absolute;
	top: -22px;
	color: #fff;
	transform: rotate(180deg);
	font-size: 10px;
}

.rg>.l1>div {
	border: 1px solid #f4f4f4;
	padding-top: 15px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.rg>.l1>div>li:nth-child(1)>span:nth-child(2) {
	color: #018ceb;
	margin-left: -4px;
}

.rg>.l1>div>li:nth-child(1)>span:nth-child(3) {
	float: right;
	margin-right: 10px;
}

.rg>.l1>div>li:nth-child(1)>span:nth-child(3):after {
  	content: ">";
  	position: absolute;
	color: #666666;
   	top: 15px;
   	right: 10px; 
}

.rg>.l1>div>li:nth-child(1) {
	border-bottom: 1px dashed #f4f4f4;
	padding-bottom: 10px;
}

.rg>.l1>div>div {
	margin: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.rg>.l1>div>div>li {
	height: 80px;
	width: 200px;
	background: #666666;
	display: flex;
	align-items: flex-end;
}

.rg>.l1>div>div>li>span {
	height: 25px;
	width: 200px;
	background: #000;
	color: #fff;
	display: inline-block;
	padding: 5px;
	text-align: center;
}
						