@charset "UTF-8";

/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2022-03-04 15:07:02
 * @version $Id$
 */
body {
	margin: 0;
}

.m-bg {
	position: absolute;
	width: 1063px;
	height: 544px;
	background: url('../img/background1.jpg');
	opacity: .4;
}

.m-menu {
	font-size: 12px;
	font-weight: bold;
	padding: 15px 65px;
	letter-spacing: 1.85px;
	color: #666;
}

.m-item_name+.m-item_name {
	margin-left: 11px;
}

span.m-item_name:first-child {
	color: #000;
}

.left, .right {
	position: absolute;
	top: 46px;
	height: 100%;
}

.left {
	left: 0;
	width: 500px;
}

.main {
	left: 530px;
	width: 200px;
}

.right {
	right: 230px;
	width: 270px;
}

.m-p1 {
	padding: 23px 33px;
	font-size: 13px;
	color: #666;
	list-style: none;
}

.m-p2 {
	padding: 33px 33px;
	font-size: 13px;
	color: #666;
	list-style: none;
}

.m-p3 {
	padding: 24px 33px;
	font-size: 13px;
	color: #666;
	list-style: none;
}

.m-p1_name2 {
	font-size: 18.4px;
	font-weight: bold;
	color: #000;
	letter-spacing: -0.04px
}

.m-p1_name3 {
	letter-spacing: 0.07px;
}

.m-p1_name4 {
	color: #000;
	font-size: 12.1px;
}

.m-p1_name5 {
	font-size: 10px;
	letter-spacing: 0.6px;
}

.m-p1_name1+.m-p1_name2 {
	line-height: 32px;
}

.m-p1_name2+.m-p1_name3 {
	line-height: 25px;
}

.m-p1_name3+.m-p1_name4 {
	line-height: 39.5px;
}

.m-p1_name4+.m-p1_name5 {
	line-height: 0px;
}

.m-ima {
	position: absolute;
	padding: 24px 537px;
	width: 154px;
	height: 123px;
}

.m-ima_name+.m-ima_name {
	margin-top: 43px;
}

.m-t {
	padding: 55px 7px;
	font-size: 19px;
	list-style: none;
}

.m-t1 {
	margin-top: -6px;
	margin-left: 9px;
	position: absolute;
	width: 30px;
	height: 50px;
	font-size: 25px;
	list-style: none;
	color: #666;
}

.m-t1_n+.m-t1_n {
	margin-top: 96px;
}

.m-t2 {
	position: absolute;
	margin-top: -4px;
	margin-left: 52.5px;
	width: 220px;
	height: 100%;
	list-style: none;
}

.m-t2-p_name1 {
	font-size: 15px;
	font-weight: bold;
	letter-spacing: -0.5px;
}

.m-t2-p_name2 {
	font-size: 13px;
	letter-spacing: -0.3px;
	line-height: 32px;
}

.m-t2-p_name3 {
	font-size: 14px;
	letter-spacing: -0.3px;
	line-height: 9px;
	color: #666;
}

.m-t2-p+.m-t2-p {
	margin-top: 28px;
}