@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2022-04-08 14:24:04
 * @version $Id$
 */

body {
	padding: 20px;
}

li {
	list-style: none;
}

.ui-grid-2, .ui-grid-3, .ui-grid-4, .ui-grid-5, .ui-grid-7, .ui-grid-10,.ui-grid-8, .ui-grid-9, .ui-grid-13 {
	margin-bottom: 0;
}

header>.m-tl {
	width: 685px;
}

header>.m-tl>.m-tab>span {
	background: #248dc8;
	color: #fff;
	padding: 4px 10px 5px;
	border-radius: 5px 5px 0 0;
	display: block;
	text-align: center;
	font-size: 14px;
}

header>.m-tl>.m-tip>span {
	background: #ff6600;
	color: #fff;
	padding: 2px 4px;
	font-size: 16px;
	border-radius: 5px;
	text-align: center;
	margin-bottom: 2px;
}

header>.m-tl>.m-fun {
	margin-right: 0;
	border: 1px solid #ccc;
	padding-left: 3px;
}

header>.m-tl>.m-fun>span {
	color: #666;
	padding: 2px 4px 4px;
	font-size: 14px;
	border-radius: 2px;
	text-align: center;
}

header>.m-tl:before {
	content: '';
	width: 674px;
	height: 5px;
	background: #248dc8;
	display: block;
	position: absolute;
	top: 48px;
}

header>.bd>.inf {
	background: #fbfbfb;
	width: 672px;
	border-left: 1px solid #cbcbcb;
	border-right: 1px solid #cbcbcb;
	font-size: 14px;
	margin-top: 4px;
}

header>.bd>.inf>.m-l>.m-tm1 {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #cf0000;
	font-weight: bold;
}

header>.bd>.inf>.m-l>.m-tm1>span:nth-child(1),header>.bd>.inf>.m-l>.m-tm1>span:nth-child(4) {
	font-size: 16px;
}

header>.bd>.inf>.m-l>.m-tm1>span:nth-child(2) {
	padding-right: 25px;
}

header>.bd>.inf>.m-l>.m-tm1>span:nth-child(3) {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 5px solid #cf0000;
	border-top: 5px solid #fbfbfb;
	border-right: 5px solid #fbfbfb;
	border-bottom: 5px solid #fbfbfb;
	left: 100px;
}

header>.bd>.inf>.m-l>.m-tm1:before {
	content: '';
	width: 8px;
	height: 3px;
	background: #cf0000;
	display: block;
	position: absolute;
}

header>.bd>.inf>.m-l>.m-len>span:nth-child(2) {
	color: #cf0000;
	font-weight: bold;
}

header>.bd>.inf>.m-l>.m-tm2 {
	margin: 0 -5px 0 8px;
}

header>.bd>.inf>.m-l>.m-tm2>span:nth-child(2) {
	color: #cf0000;
	font-weight: bold;
}

header>.bd>.inf>.m-l>.m-sum>span:nth-child(2) {
	font-weight: bold;
}

header>.bd>.inf>.m-l>.m-oth>span:nth-child(2) {
	color: #cf0000;
	font-weight: bold;
}

header>.bd>.m-use {
	width: 672px;
	background: #fffbde;
	border: 1px solid #cbcbcb;
	height: 20px;
	padding-top: 2px;
}

header>.bd>.m-use>div {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

header>.bd>.m-use>div>a {
	text-decoration: underline;
	color: #002cbd;
	padding-right: 10px;
}

section>.tl {
	text-align: center;
	margin-top: 5px;
	color: #607a90;
}

section>.tl>.m-lt,section>.tl>.m-rt>span {
	background: #cedce8;
}

section>.tl>.m-lt.ui-grid-10, section>.tl>.m-rt>span.ui-grid-2 {
	margin-right: 1px;
}

section>.rot1 {
	width: 672px;
	background: #f2f2f2;
	border: 1px solid #cbcbcb;
	border-top: 1px solid #fff;
	display: flex;
}

section>.rot1>.m-pla {
	font-size: 18px;
	font-weight: bold;
}

section>.rot1>.m-tim {
	justify-content: flex-end;
	align-self: center;
	text-align: right;
}

section>.rot1>.m-tim>a {
	text-decoration: underline;
	color: #002cbd;
}

section>.det {
	display: flex;
	align-items: center;
}

section>.det>.m-tim {
	text-align: center;
	margin-right: -4px;
}

section>.det>.m-tim>li:nth-child(1) {
	font-weight: bold;
}

section>.det>.m-img>li {
	height: 38px;
	display: flex;
	align-items: center;
}

section>.det>.m-img>li>div {
	height: 38px;
	width: 2px;
	border-left: 2px solid #96c7d8;
	border-right: 2px solid #96c7d8;
	margin-right: 5px;
	display: flex;
	flex-direction: column;
}

section>.det>.m-img>li>div>span {
	background: #96c7d8;
	height: 6px;
	margin-bottom: 6px;
}

section>.det>.m-img>li>div>span:nth-child(4) {
	background: #96c7d8;
	height: 2px;
	margin-bottom: 0;
}

section>.det>.m-pla {
	margin-right: 14px;
	padding-right: 30px;
	box-sizing: border-box;
}

section>.det>.m-pla>span {
	color: #0069a3;
	display: block;
}

section>.det>.m-pla>span:nth-child(2) {
	color: #fff;
	background: #0f529e;
	text-align: center;
	width: 50px;
	border-radius: 3px;
	margin-bottom: 2px;
}

section>.det>.m-fra {
	height: 38px;
	border-left: 1px solid #cbcbcb;
	border-right: 1px solid #cbcbcb;
	text-align: center;
}

section>.det>.m-pri {
	font-weight: bold;
	font-size: 15px;
	margin-right: -10px;
}

section>.rot2 {
	width: 672px;
	background: #f2f2f2;
	border: 1px solid #cbcbcb;
	display: flex;
	align-items: center;
	font-size: 14px;
}

section>.rot2>.m-tim {
	text-align: right;
}

section>.rot2>.m-pla {
	margin-right: 0;
	font-weight: bold;
	font-size: 18px;
}

section>.rot2>.m-pla>span {
	margin-right: 20px;
}

section>.rot2>.m-pos {
	text-align: center;
}

section>.rot2>.m-oth {
	justify-content: flex-end;
	text-align: right;
	float: right;
}

section>.rot2>.m-oth>li>a {
	text-decoration: underline;
	color: #002cbd;
}